<!DOCTYPE html>
<html>
<head>
    <title>Site-ko</title>

    <style>
        body {
            background: #0f172a;
            color: white;
            text-align: center;
            font-family: Arial;
        }

        .card {
            background: #1e293b;
            margin: 15px;
            padding: 15px;
            border-radius: 10px;
        }

        img, video {
            max-width: 250px;
            border-radius: 10px;
        }

        textarea {
            width: 80%;
        }
    </style>
</head>

<body>

<h1>📁 Galerie-ko</h1>

<a href="/login">Login</a> |
<a href="/logout">Logout</a>

<hr>

<!-- 📤 Upload (admin ihany) -->
{% if session.get("admin") %}
<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required><br><br>

    <textarea name="description" placeholder="Soraty ny description..." rows="3"></textarea><br><br>

    <button>Upload</button>
</form>
{% endif %}

<hr>

<!-- 📁 MEDIA -->
{% for m in medias %}
<div class="card">

    <h3>{{ m[1] }}</h3>

    {% if "image" in m[3] %}
        <img src="{{ m[2] }}">
    {% elif "video" in m[3] %}
        <video src="{{ m[2] }}" controls></video>
    {% else %}
        <a href="{{ m[2] }}">Download</a>
    {% endif %}

    <!-- 📝 description -->
    {% if m[4] %}
        <p>📝 {{ m[4] }}</p>
    {% endif %}

    <!-- ❌ delete -->
    {% if session.get("admin") %}
    <a href="/delete/{{ m[0] }}">
        <button>Delete</button>
    </a>
    {% endif %}

    <hr>

    <!-- 💬 commentaires -->
    {% for c in comments %}
        {% if c[1] == m[0] %}
            <p>💬 {{ c[2] }}</p>
        {% endif %}
    {% endfor %}

    <!-- 💬 ajouter commentaire -->
    <form action="/comment" method="POST">
        <input type="hidden" name="media_id" value="{{ m[0] }}">
        <input type="text" name="text" placeholder="Manorata commentaire..." required>
        <button>Send</button>
    </form>

</div>
{% endfor %}

</body>
</html>